<form [formGroup]="contactForm" (ngSubmit)="onSend()">

    <div>
        <label for="">envoyeur</label><br>
        <input type="text" formControlName="pseudo"><br>
        <p [hidden]="lastFormValid || contactForm.controls.pseudo.valid" class="invalid-error">* pseudo invalide : requis et entre 5 et 20 caractères</p>
    </div>
    
    <div>
        <label for="">destinataire</label><br>
        <select formControlName="destinataire">
            <option value="-" disabled>- choisissez destinataire -</option>
            <option value="cuistot">cuistot</option>
            <option value="proprio">propriétaire</option>
            <option value="serveur">serveur</option>
        </select><br>
        <p [hidden]="lastFormValid || contactForm.controls.destinataire.valid" class="invalid-error">* destinataire invalide: requis et soit cuistot, soit proprio soit serveur</p>
    </div>
    
    <div>
        <label for="">message</label><br>
        <textarea name="" id="" cols="30" rows="5" formControlName="message"></textarea><br>
        <p [hidden]="lastFormValid || contactForm.controls.message.valid" class="invalid-error">* message invalide : requis et max 200 caractères</p>
    </div>
    
    <button type="submit">envoyer</button><br>

</form>

